body {
  width: auto;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e2e7ec;
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
.catalog {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0;
  padding: 90px 0 95px 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas: "fantastic fantastic inspiration" "guide growth course";
}
.catalog__item--fantastic {
  position: relative;
  grid-area: fantastic;
}
.catalog__item--inspiration {
  grid-area: inspiration;
}
.catalog__item--guide {
  grid-area: guide;
}
.catalog__item--growth {
  grid-area: growth;
}
.catalog__item--course {
  grid-area: course;
}
.catalog__list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}
.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.catalog__image {
  margin-bottom: 20px;
}
.catalog__item--fantastic .catalog__image {
  margin-bottom: 0;
}
.catalog__item--fantastic .catalog__data {
  position: absolute;
  left: 45px;
  bottom: 110px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.catalog__item--fantastic .catalog__presentation {
  position: absolute;
  left: 45px;
  bottom: 30px;
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.catalog__data {
  display: block;
  margin-bottom: 10px;
  padding-left: 25px;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #818181;
}
.catalog__presentation {
  margin: 0;
  margin-bottom: 60px;
  padding-left: 25px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.catalog__author {
  width: 54px;
  height: 54px;
  padding-left: 25px;
  background-image: url("../img/author.png");
  background-position: right;
  background-repeat: no-repeat;
}
.catalog__item--growth .catalog__data {
  visibility: hidden;
}
.catalog__loading {
  display: flex;
  width: 220px;
  margin: 0 auto;
}
.catalog__loading-image {
  margin-right: 20px;
}
.catalog__text {
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  color: #99a5b0;
}
