@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''), url('../fonts/raleway-v16-latin-300.woff2') format('woff2'), url('../fonts/raleway-v16-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''), url('../fonts/raleway-v16-latin-700.woff2') format('woff2'), url('../fonts/raleway-v16-latin-700.woff') format('woff');
}
body {
  width: auto;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: 100%;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.page-main__wrapper-two {
  padding: 11.25rem 0 8.3125rem 0;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #70bfff;
  background-image: url(../img/bg3.png);
  background-repeat: no-repeat;
  background-position: 84% 40%;
}
.services {
  display: flex;
  justify-content: flex-start;
}
.services__title {
  order: 2;
  margin: 0;
  margin-left: 7.5rem;
  margin-top: 7.8125rem;
  font-size: 90px;
}
.services__list {
  margin: 0;
  padding: 0;
  margin-left: 6.25rem;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: #000000;
  list-style: none;
}
.services__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 400px;
  padding: 22px 25px 20px 75px;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #9d9d9d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.services__item:nth-child(3) {
  padding: 10px 25px 20px 30px;
}
.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100px;
  width: 1px;
  height: 100%;
  background-color: #9d9d9d;
}
.services__text {
  margin: 0;
  margin-top: 15px;
  padding: 0;
}
.services__icon {
  width: 55px;
  height: 55px;
  margin-left: auto;
}
.services__icon--delivery {
  margin-top: 15px;
}
