
@font-face {
  font-family: 'Pacifico-Regular';
  src: url('Pacifico-Regular.eot?#iefix') format('embedded-opentype'),  url('Pacifico-Regular.woff') format('woff'), url('Pacifico-Regular.ttf')  format('truetype'), url('Pacifico-Regular.svg#Pacifico-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
