* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    width: 0;
}

.header {
    background: #194277;
}

.btn {
    width: 110px;
    height: 30px;
    color: #194277;
    font-weight: 700;
    font-size: 14px;
}

.btn-lg {
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: #589dfe;
}

.main-welcome,
.footer {
    background-image: url("/lesson-26/images/blue-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-photo {
    background-color: white;
    border-radius: 100%;
    border: 6px solid #589dfe;
    width: 140px;
    height: 140px;
}

.welcome-title {
    text-transform: uppercase;
    font-weight: 900;
}

.welcome-para {
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 2em;
}
.welcome-arrow {
    opacity: 0.4;
}
.welcome-svg {
    width: 3em;
    height: 3em;
}

.title {
    font-size: 30px;
    color: #3677fd;
    font-weight: 300;
}

.about-desc {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 400;
    line-height: 2em;
}

.main-expert {
    background-color: #f1f8ff;
}

.card {
    background: transparent;
    border: none;
}

.card-logo {
    border: 1px solid rgba(128, 128, 128, 0.541);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: transparent;
}

.card-svg {
    width: 50px;
    height: 50px;
}

.card-title {
    font-size: 18px;
    color: #3677fd;
    font-weight: 700;
}
.card-text {
    font-size: 10px;
    line-height: 2em;
    color: #5a5a5a;
    font-weight: 400;
}

.box {
    background-color: #f4f4f4;
    width: 16rem;
    height: 200px;
    border-radius: 5%;
}

.box-image {
    max-width: 220px;
    max-height: 180px;
}

.main-clients {
    background-color: #f1f8ff;
}

.content-item {
    max-width: 130px;
    opacity: 0.3;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.footer {
    font-weight: 300;
    font-size: 22px;
}

.modal {
    margin: auto;
}

.modal-dialog {
    width: auto;
    max-width: 500px;
}
.modal-title {
    margin: auto;
    color: #3677fd;
    font-size: 30px;
    text-align: center;
}
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.form-item {
    margin-bottom: 5px;
}

input::-webkit-input-placeholder {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #5a5a5a;
    opacity: 0.5;
    font-weight: 400;
}
textarea::-webkit-input-placeholder {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #5a5a5a;
    opacity: 0.5;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .box {
        width: 13rem;
    }
}
@media screen and (max-width: 576px) {
    .welcome-title {
        font-size: 2em;
    }
    .p-5,
    .p-4 {
        padding: 10px !important;
    }
}

.non-visable{
    display: none;
}