
* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
        width: 1400px;
        box-shadow: 0px 4px 68px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        margin: 130px 100px;
}

h1 {
    font-size: 42px;
    color: #171717;
    padding-top: 120px;
    font-family: 'Playfair Display', serif;
}
article {
    width: 1140px;
    margin: 40px 120px 40px 140px;
}

p {
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-weight: 400;
    color: rgba(23, 23, 23, 0.7);
    line-height: 1.89;
    letter-spacing: -0.09px;
    font-size: 21px;
    margin-top: 35px;
}


p:last-child {
    font-size: 24px;
}
.first-p::first-letter {
    padding: 33px 10px;
    float: left;
    font-family: 'Playfair Display', serif;
    font-size: 110px;
    font-weight: 400;
    line-height: 0.31;
    text-align: left;
    color: #171717;
}

button {
    width: 260px;
    height: 70px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.89;
    letter-spacing: 3.6px;
    text-align: center;
    color: #eaa258;
    border: solid 2px #eaa258;
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 120px;
    text-transform: uppercase
}

 .italy {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 28px;
    opacity: 70%;
    letter-spacing: 1px;
 }

 span {
     font-size: 70px;
 }
