doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style.css')
    title Our team
  body
    .container
      .page
        .page__tagline.tagline THE GENIUSES BEHIND OUR WORK
        .page__title.title OUR TEAM
        .page__divider.divider
          img(src='./images/rose.png').divider__img
        .page__content.content
          .content__picture.picture
            img(src='./images/photo.png').picture__img
            .top-left
            .top-right
            .bottom-left
            .bottom-right
          .content__line.line
          .content__info.info
            .info__main-heading.main-heading Sahariar Kabir
            .info__heading.heading Frontend Developer
            .info__icons.icons
              .icons__item
              .icons__item
              .icons__item
              .icons__item
            .info__description.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus dui sit amet ligula efficitur, sit amet lacinia massa dictum. Etiam accumsan felis a nunc facilisis, ut euismod lacus placerat. Praesent rutrum eget massa a convallis. Nam vitae augue malesuada, accumsan mauris ut, consectetur.
              .description__left
              .description__center
              .description__right
            .info__button.button 
              button.btn VIEW PROFILE