@font-face {
    font-family: 'Hans-Kendrick';
    src: url(./fonts/NeueHansKendrick-Regular.woff) format('woff'), url(./fonts/NeueHansKendrick-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1600px;
    height: 1400px;
    background-color: #E2E7EC;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 1fr;
    padding: 90px 240px;
    grid-gap: 20px;
}

.main-article {
    display: flex;
    flex-direction: column;
    min-height: 540px;
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)), url(./images/Layer\ 8@1X.png);
    background-repeat: no-repeat;
    grid-column: 1/3;
    grid-row: 1/2;
}

.main-article:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.article {
    display: flex;
    flex-direction: column;
    min-height: 540px;
    background-color: white;
    flex:1 1 auto;
}

.article:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.main-article__date {
    padding: 405px 0 20px 30px;
    font-family: 'Hans-Kendrick';
    font-size: 13px;
    color: #FFFFFF;
}

.main-article__title {
    padding: 0 265px 20px 30px;
    font-family: 'Hans-Kendrick';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}

.article__image {
    margin-bottom: 20px;
}

.article__date {
    padding-left: 30px;
    margin-bottom: 20px;
    font-family: 'Hans-Kendrick';
    font-size: 13px;
    color: #818181;
}

.article__title {
    padding: 0 30px;
    font-family: 'Hans-Kendrick';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

.article__author {
    margin-top: auto;
    padding: 10px 30px;
}